{{ define "main" }}

<main class="px-3 ">

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>Bangalore Opensource Java User Group.</h1>
                <h3>For the Ultimate Java Developers!</h3>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="card border rounded shadow-sm h-md-250 mb-2">
                    <div class="card-body">
                        <h5 class="card-title">Azure Kubernetes Day</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Saturday, January 30, 2021</h6>
                        <p class="card-text">Azure Kubernetes Day is a one day (30 January 2021), virtual,
                            developer-focused, community driven conference themed on the various use cases of
                            Kubernetes
                            on Azure, meant for professionals & developers!.</p>
                        <a href="#" class="card-link">Join Us</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">

            
                <div class="card border rounded shadow-sm h-md-250 mb-2">
                    <div class="card-body">
                        <h5 class="card-title">Azure Kubernetes Day</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Saturday, January 30, 2021</h6>
                        <p class="card-text">Azure Kubernetes Day is a one day (30 January 2021), virtual,
                            developer-focused, community driven conference themed on the various use cases of
                            Kubernetes
                            on Azure, meant for professionals & developers!.</p>
                        <a href="#" class="card-link">Join Us</a>
                    </div>
                </div>
            </div>
            

            
        </div>
    </div>





</main>

{{ end }}